# Virtual Environment
.venv/
venv/
env/

__pycache__/
__init__.py

# ==========================
# Electron
# ==========================
desktop/node_modules/
**/node_modules/

# Build outputs
desktop/dist/
frontend/dist/

# Database
*.db

# macOS
.DS_Store

# Logs
*.log

# Electron build output
desktop/dist/
desktop/release/
desktop/resources/frontend/assets
desktop/resources/frontend/sounds
desktop/resources/frontend/favicon.svg
desktop/resources/frontend/icons.svg

# Electron packaging artifacts
desktop/*.dmg
desktop/*.exe
desktop/*.AppImage
desktop/*.deb
desktop/*.rpm

# Electron builder cache
desktop/.electron-builder/

# Root build artifacts
release/
dist/